@model ProductListViewModelPagination

<h1>Product</h1>

<form id="pagination-form" asp-action="Index" asp-controller="Product" method="post">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <div class="accordion" id="product-accordion" style="margin-top: 4px;">
                        @foreach (var item in Model.ProductListViewModel)
                        {
                            <div class="accordion-item">

                                <h2 class="accordion-header" id="heading@(item.Number)">
                                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#product@(item.Number)" aria-expanded="true" aria-controls="product@(item.Number)">
                                     Navn: @item.ProductName, Categori: @item.Category, Pris: @item.Price
                                    </button>
                                </h2>

                                <div id="product@(item.Number)" class="accordion-collapse collapse" aria-labelledby="heading@(item.Number)" data-bs-parent="#product-accordion">
                                    <div class="accordion-body">
                                        <strong>@item.ProductExtraItem1Name</strong>: @item.Extraitem1<br />
                                        <strong>@item.ProductExtraItem2Name</strong>: @item.Extraitem2<br />
                                        <strong>@item.ProductExtraItem3Name</strong>: @item.Extraitem3<br />
                                        <strong>@item.ProductExtraItem4Name</strong>: @item.Extraitem4<br />
                                    </div>
                                </div>
                            </div>
                        } 
                       </div>
                </div>
                <div class="row">
                    <div class="text-center">
  
                        <ul class="pagination">

                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                @if (i != Model.CurrentPageIndex)
                                {
                                    <li class="page-item">
                                        <a class="page-link page-submit" href="#" data-index="@i">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item active">
                                        <a class="page-link page-submit" href="#" data-index="@i">@i</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
</form>