@model IEnumerable<LunchBox.Shared.Store>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="typography">
                    <a class="navbar-brand" asp-action="Create" asp-controller="Store">
                        <span class="btn btn-primary btn-lg">Opret</span>
                    </a>
                </h1>
            </div>
            <div class="bs-component">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Street</th>
                            <th scope="col">City</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Details</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var store  in Model)
                        {
                        <tr>
                            <td>@store.StoreName</td>
                            <td>@store.Street</td>
                            <td>@store.City</td>
                            <td>@store.Phone</td>
                            <td>@store.Email</td>
                            <td><a asp-route-id="@store.Id" class="navbar-brand" asp-action="Details" asp-controller="Store"><span class="btn btn-success btn-sm">Details</span></a></td>
                            <td><a asp-route-id="@store.Id" class="navbar-brand" asp-action="Edit" asp-controller="Store"><span class="btn btn-info btn-sm">Edit</span></a></td>
                            <td><a asp-route-id="@store.Id" class="navbar-brand" asp-action="Delete" asp-controller="Store" onclick="return confirm('Are you sure you want to delete it : @store.StoreName')"><span class="btn btn-info btn-sm">Delete</span></a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="text-center">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#">&laquo;</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
