@model IEnumerable<LunchBox.Shared.Store>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="typography">
                    <a class="navbar-brand" asp-action="Create" asp-controller="Store">
                        <span class="btn btn-primary btn-lg">Opret</span>
                    </a>
                </h1>
            </div>
            <div class="bs-component">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Street</th>
                            <th scope="col">City</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Details</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var store  in Model)
                        {
                        <tr>
                            <td>@store.StoreName</td>
                            <td>@store.Street</td>
                            <td>@store.City</td>
                            <td>@store.Phone</td>
                            <td>@store.Email</td>
                            <td><a asp-route-id="@store.Id" class="navbar-brand" asp-action="Details" asp-controller="Store"><span class="btn btn-success btn-sm">Details</span></a></td>
                            <td><a asp-route-id="@store.Id" class="navbar-brand" asp-action="Edit" asp-controller="Store"><span class="btn btn-info btn-sm">Edit</span></a></td>
                            <td>
                                <form method="post" asp-action="Delete" asp-route-id="@store.Id">
                                <button type="submit" style="padding-top:0px" class="btn" onclick="return confirm('Are you sure you want to delete it: @store.StoreName')">
                                    <span class="btn btn-info btn-sm">Delete</span>
                                </button>
                                </form>
                            </td>                           

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
